<div class="">

  <button type="button" class="prog" (click)="abrirProgramacion()">
    Agregar Progamación
  </button>
  <div class="row" *ngFor="let item of programaciones | async" class="mensaje">
    <div class="col-3">
      Nombre: {{ item.grupo_nombre }}
    </div>
    <div class="col-3">
      Lugar: {{ item.observ }}
    </div>
    <div class="col-6">
      <button (click)="deleteProgramacion(item.id)" class="btngeneralRedondeadoPlano">
        <span class="material-icons" title="Agregar Usuarios.">mode_edit</span>
        Eliminar 
      </button>
      <button (click)="updateProgramacion(item.id)" class="btnRechazado">
        <span class="material-icons" title="Agregar Usuarios.">do_disturb_on</span>
        Actualizar 
      </button>
    </div>
  </div>
</div>