<div class="">

  <button type="button" class="prog" (click)="abrirPOP(content)">
    Agregar Progamación
  </button>

  <ng-template #content let-modal class="ancho">
    <div class="modal-header">
      <h4 class="modal-title">Agregar Programación</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>{{programacionesARR.grupo_nombre}} </label>
        <label>Lugar </label>
        <input type="lugar" class="form-control" [(ngModel)]="programacionesARR.lugar" />
        <label>Observaciones </label>
        <textarea class="form-control" [(ngModel)]="programacionesARR.observ" rows="3"></textarea>
        <label>Agregar Terapias</label>
        <input type="lugar" class="form-control" [(ngModel)]="programacionesARR.Terapias" />
        <div class="row ">
          <div class="col-12 titulo">
            Rango de la programación
          </div>
          <div class="col-12">
            *Para seleccionar un rango haga click en la fecha de inicio y click en la de fin
          </div>
          <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
            outsideDays="hidden">
          </ngb-datepicker>

          <ng-template #t let-date let-focused="focused">
            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
              {{ date.day }}
            </span>
          </ng-template>
        </div>
        <div class="col s12">
          <ng-template [ngIf]="!find">
            <button type="button" class="btngeneralRedondeado" (click)="createProgramacion()">
              Cargar Datos</button>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
    </div>
  </ng-template>

  <div class="row" *ngFor="let item of programaciones | async" class="mensaje">
    <div class="col-3">
      Nombre: {{ item.grupo_nombre }}
    </div>
    <div class="col-3">
      Lugar: {{ item.observ }}
    </div>
    <div class="col-6">
      <button (click)="deleteProgramacion(item.id)" class="btngeneralRedondeadoPlano">
        <span class="material-icons" title="Agregar Usuarios.">mode_edit</span>
        Eliminar 
      </button>
      <button (click)="updateProgramacion(item.id)" class="btnRechazado">
        <span class="material-icons" title="Agregar Usuarios.">do_disturb_on</span>
        Actualizar 
      </button>
    </div>
  </div>
</div>