<div class="fondoAlertas">
  <div style="display: flex; justify-content: right; width: 100%; padding: 5px; ">
    <button class="alertaBtn" (click)="openBackDropCustomClass(content)">
      <span class="material-icons" title="Agregar Usuarios.">crisis_alert</span>
      ALERTA
    </button>
    <button (click)="atenderAlerta(id)" class="btnAtender" *ngIf="estado === '1'" >
      <span class="material-icons" title="Agregar Usuarios.">support_agent</span>
      Atender
    </button>
    <span class="mensaje" *ngIf="estado ==='1' && text !==''" >
      Mensaje: {{text}}
    </span>
  </div>
</div>
  <div *ngIf="alerta">
    <ngb-alert type="danger" (closed)="close()">
      <strong>Atención!</strong> su alerta fué enviada
    </ngb-alert>
  </div>
  
<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title">Generar Alerta</h1>
    <button type="button" class="btnCerrar" aria-label="Close" (click)="cerrarPop()">X</button>
  </div>
  <div class="modal-body">
    <div class="col">
      <input type="text" placeholder="máximo 30 caracteres" (keyup.enter)="addItem(msgVal)" [(ngModel)]="msgVal"
        size="22" maxlength="30" />
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btnCerrar" (click)="cerrarPop()">DESCARTAR</button>
    <button type="button" class="alertaBtn" (click)="addItem(msgVal)">ALERTA</button>
  </div>
</ng-template>