.alertaBtn{
    width: 8rem; 
    color: #fff; 
    background-color: #ff0064; 
    border: 3px solid #fff; 
    border-radius: 2vh; 
    display: table-cell;
    vertical-align: top;
}


.alertaBtn:hover {
    box-shadow: #4b0202 0 0 0.5vh 0.5vh;
}

.btnAtender {
    width: 8rem; 
    color: #fff; 
    background-color: #01a630; 
    border: 3px solid #fff; 
    border-radius: 2vh; 
    display: table-cell;      
    vertical-align: top;
}
.btnAtender:hover {
    box-shadow: #004413 0 0 0.5vh 0.5vh;
}

