.menu-full {
    padding: 10px 0px 10px 8px;
    margin-left: 4px;
    background-color: #cbeef0;
  }
  
  .menu-chico {
    padding: 18px 0px 25px 8px;
    margin-left: 4px;
  }
  
  .menuImgLogo {
    height: 32px;
    padding: 0px;
    margin: 0px;
    vertical-align: bottom;
    box-shadow: 0px 0px 5px #FFF;
    background-color: #FFF;
  }
  
  .size-icon {
    margin-right: 22px;
    font-size:  40px;
    color: #0066ff;
    width: 16px;
    height: 16px;
    line-height: 16px;
  }
  
  .nav li a {
    margin-top: 8px;
    padding: 7px;
  }
  
  @media screen and (max-width: 348px) {
    .menu-full {
      display: none;
    }
  }
  
  @media screen and (min-width: 349px) {
    .menu-chico {
      display: none;
    }
  }
  