<div class="container-fluid">
  <div *ngIf="auth.user | async as user; else showLogin">
    Hola {{ user.displayName }}!
    <label class="btn btn-primary">
      <input (click)="logout()" type="radio" name="options" id="option1" > Salir
    </label>
  </div>
  <ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="login()">Login with Google</button>
  </ng-template>
  <div class="row" *ngIf="auth.user | async as user; else showLogin">
    <div class="col-12">

      <app-menu></app-menu>
    </div>
    
    <!-- <div class="col-12">
      <app-alertas-notif *ngIf="router.url != '/alertas'"></app-alertas-notif>
    </div> -->
    <div class="col-9 mh-100">
      <router-outlet></router-outlet>
    </div>
    <div class="col-3 mh-100">
      <div *ngIf="router.url != '/alertas'" class="p-3 mb-2 bg-secondary text-white" >
        <app-alertas></app-alertas>
      </div>
    </div>
  </div>
  <ng-template #showBienvenida>
    <app-bienvenida></app-bienvenida>
  </ng-template>

  <div class="col-12" class="footer">
    contactos: estejpagano@gmail.com @Creative Commons
    <a href="https://github.com/elpagano/tgdhuggs" target="_blank">
      - <img src="assets/github.png"  class="logogit">
      </a>
  </div>
</div>
