.footer{
    max-height: 33px;
    width: 100%;
    color:#000;
    background: #63a4ff;
    padding: 4px;
      position:fixed;
      bottom: 0px;
    font-size: 12px;
  }
  
  .logogit{
    height: 25px;
    width: 25px;
  }
/*   
  .fondo{
    background: #e2e9f1;
  }
  
  mat-grid-tile {
    background: lightblue;
  }

   screen and (max-width: 768px){
    footer{
      font-size: 12px;
    }
  }
  
  @media screen and (max-width: 576px){
    footer{
      display: none;
    }
  }
*/
  