<!-- <mat-grid-list cols="2" >

  <mat-grid-tile-header>
    <app-menu></app-menu>
  </mat-grid-tile-header>
  
  <mat-grid-tile colspan="1" [ngStyle]="{'color': '#bcc7c8'}" >
    <router-outlet></router-outlet>
 
  <mat-grid-tile colspan="1" *ngIf="router.url != '/alertas'">
      <app-alertas></app-alertas>
  </mat-grid-tile>
 </mat-grid-tile>
  <mat-grid-tile [ngStyle]="{'color': '#e2e9f1'}">
    contactos: estejpagano@gmail.com @Creative Commons
    <a href="https://github.com/elpagano/tgdhuggs" target="_blank">
      - <img src="assets/github.png" class="logogit">
    </a>
  </mat-grid-tile>

</mat-grid-list>
 -->

<div class="container" class="fondo">

    <div class="row">
      <div class="col"  style="padding-bottom: 25px;">
      <app-menu></app-menu>
    </div>
    </div>
  <div class="row" *ngIf="auth.user | async as user;">
    <div class="col"  style="padding-bottom: 25px;">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-auto" style="background: #bcc7c8;  ">
      <div *ngIf="router.url != '/alertas'">
        <app-alertas></app-alertas>
      </div>
    </div>
  </div>
  <div class="row" class="footer">
    <div class="col-12">
      contactos: estejpagano@gmail.com @Creative Commons
      <a href="https://github.com/elpagano/tgdhuggs" target="_blank">
        - <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" class="logogit">
      </a>
    </div>
  </div>