<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      Grupos
    </div>
  </div>
  <div *ngIf="tipoUsuario; else elseBlock">
    Aquí podrá generar grupos de trabajo por cada paciente.
  </div>
  <ng-template #elseBlock>
    Ver mis Grupos.
  </ng-template>
  <div *ngIf="tipoUsuario">
    <button type="button" class="btngeneralRedondeado" (click)="addGroup(msgValGrup)">Nuevo Grupo</button>
    <input type="text" placeholder="Nombre grupo max 30 caracteres" (keyup.enter)="addGroup(msgValGrup)"
      [(ngModel)]="msgValGrup" maxlength="30" />
  </div>

  <ngb-alert *ngIf="msgCreado" type="primary" (closed)="closemsgGroup()">
    <strong>El nuevo grupo {{msgValGrup}} fué creado</strong>
  </ngb-alert>
  <ngb-alert *ngIf="this.msgERRORGrup " [dismissible]="false">
    <strong>Atención!</strong> El nombre no puede estar vacio
  </ngb-alert>

  <div>
    <ul>
      <li *ngFor="let group of groups | async">
        <div>
          Grupo:
          <span  style="color:#10012e "> {{ group.nameGroup }} </span>
           <button (click)="selectGroup(group.id, group.nameGroup)" *ngIf="tipoUsuario" style="margin: 1vh; background: #fff; border-color: #5500ff; border-radius: 1vh; max-height: 5vh;">
            <samp>
              <span  style="color:#5500ff;" class="material-icons" title="Agregar Usuarios.">manage_accounts</span>
            </samp>
          </button>
          <button *ngIf="tipoUsuario" (click)="deleteGroupConfirm(content, group.id)" style="margin: 1vh; background: #fff; border-color: #ff0000; border-radius: 1vh; max-height: 5vh;">
            <span style="color:#ff0000" class="material-icons">delete_forever</span>
          </button>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">¿Está seguro que quiere eliminar el grupo?</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      <button type="button" class="btn btn-light" (click)="deleteGroup()">Eliminar Grupo</button>
    </div>
  </ng-template>

  <div *ngIf="selectAssUsers">
    <div>
      Grupo: {{selectedGrupNom}}
    </div>
    Usuarios activos del grupo
    <ul>
      <li *ngFor=" let user of selectedUsers ">
        {{user.nombre}}
        <a *ngIf="tipoUsuario" (click)="deleteUser(user.id)">
          <span style="color:#ff0064" class="material-icons">delete_forever</span>
        </a>
      </li>
    </ul>

    <div *ngIf="tipoUsuario">
      <input type="text" [(ngModel)]="msgUsuario" />
      <button type="button" class="btn btn-info" (click)="searchUser(msgUsuario)">
        Buscar Usuario
      </button>
    </div>
    <ul>
      <li *ngFor=" let user of arrUsers ">
        <a (click)="addArrUserGrupo(user.id!, user.nombre, user.nomLowercase)" class="menuLink">
          &nbsp; <span class="material-icons">manage_accounts</span> &nbsp;
          Agregar al grupo &nbsp; {{user.nombre}}
        </a>
      </li>
    </ul>

  </div>
</div>