<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      Grupos
    </div>

  </div>
  <div *ngIf="tipoUsuario; else elseBlock">
    Aquí podrá generar grupos de trabajo por cada paciente.
  </div>
  <ng-template #elseBlock>
    Ver mis Grupos.
  </ng-template>
  <ngb-alert *ngIf="msgCreado" type="primary" (closed)="closemsgGroup()">
    <strong>Atención!</strong> su grupo fué creado
  </ngb-alert>
  <div *ngIf="tipoUsuario">
    <button type="button" class="btn btn-info" (click)="addGroup(msgValGrup)">Nuevo Grupo</button>
    <input type="text" placeholder="Nombre grupo max 30 caracteres" (keyup.enter)="addGroup(msgValGrup)"
      [(ngModel)]="msgValGrup" maxlength="30" />
  </div>

  <div>
    <ul>
      <li *ngFor="let group of groups | async">
        <div>
          Grupo: {{ group.nameGroup }}

          <div>
            <a (click)="selectGroup(group.id, group.nameGroup)" class="menuLink">
              <samp *ngIf="tipoUsuario">
                <span class="material-icons">
                  manage_accounts
                </span>
                Agregar Usuarios.
              </samp>
            </a>
            <a *ngIf="tipoUsuario" (click)="deleteGroup(group.id)" style="color:#ff0064" >
              <span style="color:#ff0064" class="material-icons">delete_forever</span>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="selectAssUsers">
    <div>
      Grupo: {{selectedGrupNom}}
    </div>
    Usuarios activos del grupo
    <ul>
      <li *ngFor=" let user of selectedUsers ">
        {{user.nombre}}
        <a *ngIf="tipoUsuario" (click)="deleteUser(user.id)">
          <span style="color:#ff0064" class="material-icons">delete_forever</span>
        </a>
      </li>
    </ul>

    <div *ngIf="tipoUsuario">
      <input type="text" [(ngModel)]="msgUsuario" />
      <button type="button" class="btn btn-info" (click)="searchUser(msgUsuario)">
        Buscar Usuario
      </button>
    </div>
    <ul>
      <li *ngFor=" let user of arrUsers ">
        <a (click)="addArrUserGrupo(user.id!, user.nombre, user.nomLowercase)" class="menuLink">
          &nbsp; <img src="assets/icon/AddUsers.svg" class="menuImg"> &nbsp;
          Agregar al grupo &nbsp; {{user.nombre}}
        </a>
      </li>
    </ul>

  </div>
</div>