<div >
  <div>
    Grupos
  </div>
  <div>
    Aquí podrá generar grupos de trabajo por cada paciente.
  </div>
  <ngb-alert *ngIf="msgCreado" type="primary" (closed)="closemsgGroup()">
    <strong>Atención!</strong> su grupo fué creado
  </ngb-alert>
  <div>
    <button type="button" class="btn btn-info" (click)="addGroup(msgValGrup)">Nuevo Grupo</button>
    <input type="text" placeholder="Nombre grupo max 30 caracteres" (keyup.enter)="addGroup(msgValGrup)"
      [(ngModel)]="msgValGrup" maxlength="30" />
  </div>

  <div>
    <ul>
      <li *ngFor="let group of groups | async">
        <a (click)="deleteGroup(group.id)"><img src="assets/icon/delete.svg" class="logogit"></a>
        <a (click)="selectGroup(group.id, group.nameGroup)" class="menuLink">
          &nbsp; {{ group.nameGroup }} &nbsp; <img src="assets/icon/AddUsers.svg" class="menuImg"> &nbsp;
          Agregar Usuarios.
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="selectAssUsers">
    <div>
      Grupo: {{selectedGrupNom}}
    </div>
    Usuarios activos del grupo
    <ul>
      <li *ngFor=" let user of selectedUsers ">
        {{user.nombre}}
        <a (click)="deleteUser(user.id)"><img src="assets/icon/delete.svg" class="logogit"></a>
      </li>
    </ul>
    <input type="text" [(ngModel)]="msgUsuario" />
    <button type="button" class="btn btn-info" (click)="searchUser(msgUsuario)">
      Buscar Usuario
    </button>
    <ul>
      <li *ngFor=" let user of arrUsers ">
        <a (click)="addUserGrupo(user.id!, user.nombre, user.nomLowercase)" class="menuLink">
          &nbsp; <img src="assets/icon/AddUsers.svg" class="menuImg"> &nbsp;
          Agregar al grupo &nbsp; {{user.nombre}}
        </a>
      </li>
    </ul>

  </div>
</div>