<div style="width: 20rem;">

  <div style="width: 20rem;">
    <a alt="Alerta" *ngIf="!alerta"
     (click)="addItem(msgVal, $event)">
     <img src="assets/icon/alertasSend.svg">
    </a>
    <input type="text" placeholder="máximo 30 caracteres" (keyup.enter)="addItem(msgVal, $event)" [(ngModel)]="msgVal" size="22"
      maxlength="30" />
      <ngb-alert *ngIf="alerta"  type="primary" (closed)="close()" >
        <strong>Atención!</strong> su alerta fué enviada
      </ngb-alert>
  </div>

  <ul>
    <li *ngFor="let item of items | async" >
      {{item.texto}}
      <button (click)="deleteDoc(item.id)">eliminar</button>
    </li>
  </ul>
</div>