/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btngeneral {
    color: #fff; 
    background-color: #17a2b8; 
    padding: 0.8vh; 
    margin: 1vh;
}

.btngeneralRedondeado {
    color: #fff; 
    background-color: #17a2b8; 
    border: 3px solid #fff; 
    border-radius: 2vh; 
    padding: 0.8vh; 
    margin: 1vh;
}

.btngeneralRedondeado:hover {
    box-shadow: #041d21 0 0 0.5vh 0.5vh;
}

.btngeneralRedondeadoPlano {
    color: #fff; 
    background-color: #17a2b8; 
    border: 3px solid #fff; 
    border-radius: 2vh; 
    display: table-cell;
}
.btngeneralRedondeadoPlano:hover {
    box-shadow: #041d21 0 0 0.5vh 0.5vh;
}

.btnRechazado {
    color: #fff; 
    background-color: #bc8400; 
    border: 3px solid #fff; 
    border-radius: 2vh; 
    display: table-cell;      
    vertical-align: top;
}
.btnRechazado:hover {
    box-shadow: #573d01 0 0 0.5vh 0.5vh;
}


.btnCerrar {
    color: #fff; 
    background-color: #9d00bc; 
    border: 3px solid #fff; 
    border-radius: 2vh; 
    display: table-cell;      
    vertical-align: top;
}
.btnCerrar:hover {
    box-shadow: #9d00bc 0 0 0.5vh 0.5vh;
}


/*
Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

 Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } 

*/