<div class="box1" style="align-self: center; background: #ddeaec; height:100%; border-right: 3px solid rgb(6, 2, 132);" >
    <img src="../../assets/logo.svg" style="width: 20rem;">
    <div style="width: 20rem;">
        <iframe src="https://www.youtube.com/embed/9MxdBo4nRhc" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
<div class="box2" style="align-self: center; background: #eeeeee; height:100%; border-right: 3px solid rgb(6, 2, 132);" >
    <app-opciones></app-opciones>
</div>